apiVersion: apps/v1
kind: Deployment
metadata:
  name: vacman-frontend
  annotations:
    secret.reloader.stakater.com/auto: 'true'
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: vacman-frontend
  template:
    spec:
      containers:
        - name: vacman-frontend
          image: dtsrhpdevscedacr.azurecr.io/vacman/vacman-frontend:latest
          envFrom:
            - configMapRef:
                name: vacman-frontend-uat
            - secretRef:
                name: vacman-frontend-uat
          env:
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: redis-secret
                  key: redis-password