#
# This overlay file is intended for deployment of shared resources across all non-production environments.
# Resources defined here will be available in all pseudo-environments (e.g., dev, staging, etc.) within the non-production namespace.
#
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
nameSuffix: -shared
labels:
  - pairs:
      app.kubernetes.io/part-of: vacancy-management
      app.kubernetes.io/managed-by: teamcity
      app.kubernetes.io/cluster: dts-dev-sced-rhp-spoke-aks
      app.kubernetes.io/environment: shared
      app.kubernetes.io/tier: nonprod
  # It is essential for this label (or at least one unique label per environment)
  # to be part of selectors to ensure they are applied correctly.
  - includeSelectors: true
    pairs:
      app.kubernetes.io/instance: shared
resources:
  - github.com/stn-dts/kustomize-manifests/components/reloader?ref=reloader-1.4.10.000
  - ../../base/redis/
  - ./external-secrets.yaml
patches:
  - path: ./patches/stateful-sets.yaml
configMapGenerator:
  - name: redis
    behavior: merge
    files:
      - ./configs/redis/replica.conf
      - ./configs/redis/sentinel.conf
secretGenerator:
  - name: redis
    behavior: create
    options:
      # disable suffix hash so it can effectively
      # be managed by external secrets operator
      disableNameSuffixHash: true
