apiVersion: apps/v1
kind: Deployment
metadata:
  name: vacman-backend
  annotations:
    secret.reloader.stakater.com/auto: 'true'
  labels:
    app.kubernetes.io/name: vacman-backend
spec:
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app.kubernetes.io/name: vacman-backend
  template:
    metadata:
      labels:
        app.kubernetes.io/name: vacman-backend
    spec:
      containers:
        - name: vacman-backend
          image: dtsrhpprodscedspokeacr.azurecr.io/vacman/vacman-backend:2.0.1
          envFrom:
            - secretRef:
                name: vacman-backend
          ports:
            - name: http
              containerPort: 8080
          startupProbe:
            httpGet:
              path: /actuator/health
              port: http
            failureThreshold: 30
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: http
            periodSeconds: 20
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: http
            periodSeconds: 10
            failureThreshold: 5
          resources:
            requests:
              cpu: 100m
              memory: 512Mi
            limits:
              memory: 1024Mi
          securityContext:
            allowPrivilegeEscalation: false
          volumeMounts:
            - name: config
              mountPath: /workspace/BOOT-INF/classes/application-local.yaml
              subPath: application.yaml
      volumes:
        - name: config
          configMap:
            name: vacman-backend

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: vacman-frontend
  annotations:
    secret.reloader.stakater.com/auto: 'true'
  labels:
    app.kubernetes.io/name: vacman-frontend
spec:
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app.kubernetes.io/name: vacman-frontend
  template:
    metadata:
      labels:
        app.kubernetes.io/name: vacman-frontend
    spec:
      containers:
        - name: vacman-frontend
          image: dtsrhpprodscedspokeacr.azurecr.io/vacman/vacman-frontend:2.0.0
          envFrom:
            - configMapRef:
                name: vacman-frontend
            - secretRef:
                name: vacman-frontend
          env:
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: redis
                  key: REDIS_PASSWORD
          ports:
            - name: http
              containerPort: 3000
          livenessProbe:
            tcpSocket:
              port: http
          readinessProbe:
            httpGet:
              path: /api/readyz
              port: http
          resources:
            requests:
              cpu: 50m
              memory: 256Mi
            limits:
              memory: 512Mi
          securityContext:
            allowPrivilegeEscalation: false
  strategy:
    rollingUpdate:
      maxSurge: 100%
      maxUnavailable: 0%
