services:
  mssql:
    image: mcr.microsoft.com/mssql/server:2022-CU14-ubuntu-22.04
    environment:
      ACCEPT_EULA: Y
      SA_PASSWORD: p@assword1
      MSSQL_PID: Express
    ports:
      - 1433:1433
    ulimits:
      nofile:
        soft: 65535
        hard: 65535
    healthcheck:
      test: ["CMD", "/opt/mssql-tools18/bin/sqlcmd", "-S", "localhost", "-U", "SA", "-P", "${SA_PASSWORD}", "-Q", "select 1"]
      interval: 10s
      timeout: 5s
      retries: 12

  db-init:
    image: mcr.microsoft.com/mssql/server:2022-CU14-ubuntu-22.04
    depends_on:
      - mssql
    environment:
      SA_PASSWORD: p@assword1
    volumes:
      - ./init.sql:/init.sql:ro
      - ./init-db.sh:/init-db.sh:ro
    entrypoint: ["/bin/bash", "/init-db.sh"]
