#######################################################################################################################
#
# Example application-local.yaml file...
#
# Copy this file to application-local.yaml and update the values as required.
#
#######################################################################################################################

#
# Disable security configuration for API endpoints.
#

application:
  security:
    disabled: true

---

#
# Log levels.
# Increase or decrease logging as desired.
#

logging:
  level:
    '[ca.gov.dtsstn.vacman.api]': trace
    '[io.micrometer.registry.otlp.OtlpMeterRegistry]': off
    '[org.hibernate]': debug
    '[org.springframework]': debug

---

#
# Connect to a local MSSQL database.
#

spring:
  config:
    activate:
      on-profile:
        - mssql-local
  datasource:
    url: jdbc:sqlserver://localhost;databaseName=master;encrypt=false;
    username: sa
    password: p@ssword1
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    properties:
      '[hibernate.default_schema]': dbo
      '[hibernate.format_sql]': true
    show-sql: true
    defer-datasource-initialization: false
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml
    contexts: mssql,dev

---

#
# Configure the MS Graph client secret.
#

spring:
  security:
    oauth2:
      client:
        registration:
          ms-graph:
            client-secret: password

---

#
# GCNotify settings
#

application:
  gcnotify:
    api-key: # must be set externally (ex: 00000000-0000-0000-0000-000000000000)
    profile-created-template-id: # must be set externally (ex: 00000000-0000-0000-0000-000000000000)
    profile-updated-template-id:  # must be set externally (ex: 00000000-0000-0000-0000-000000000000)
    profile-approved-template-id: # must be set externally (ex: 00000000-0000-0000-0000-000000000000)
