#######################################################################################################################
#
# Example application-local.yaml file...
#
# Copy this file to application-local.yaml and update the values as required.
#
#######################################################################################################################

#
# Disable security configuration for API endpoints.
# ⚠️ DO NOT USE ::: CURRENTLY NOT WORKING ⚠️
#

application:
  security:
    disabled: true

---

#
# Log levels.
# Increase or decrease logging as desired.
#

logging:
  level:
    '[ca.gov.dtsstn.vacman.api]': trace
    '[io.micrometer.registry.otlp.OtlpMeterRegistry]': off
    '[org.hibernate]': debug
    '[org.springframework]': debug

---

#
# Actuator setting
# Useful to troubleshoot configuration problems.
#

management:
  endpoint:
    env:
      show-values: always
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include:
          - beans
          - health

---

#
# Connect to a persistent H2 instance
# Use if you want to keep data between restarts.
#

spring:
  datasource:
    url: jdbc:h2:file:./target/testdb;MODE=MSSQLServer;DATABASE_TO_UPPER=false;CASE_INSENSITIVE_IDENTIFIERS=true;DB_CLOSE_DELAY=-1;
    username: sa
    password:
  liquibase:
    contexts: h2, dev
    drop-first: true

---

#
# Connect to a local MSSQL database.
#

spring:
  datasource:
    url: jdbc:sqlserver://localhost;databaseName=master;encrypt=false;
    username: sa
    password: p@ssword1
  jpa:
    hibernate:
    properties:
      '[hibernate.default_schema]': dbo
      '[hibernate.format_sql]': true
    show-sql: true
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml
    #contexts: dev # If you want to add test data

---

#
# Configure the MS Graph client secret.
#

spring:
  security:
    oauth2:
      client:
        registration:
          ms-graph:
            client-secret: password

---

#
# GCNotify settings
#

application:
  gcnotify:
    api-key: # must be set externally (ex: 00000000-0000-0000-0000-000000000000)
    profile-created-template-id: # must be set externally (ex: 00000000-0000-0000-0000-000000000000)
    profile-updated-template-id:  # must be set externally (ex: 00000000-0000-0000-0000-000000000000)
    profile-approved-template-id: # must be set externally (ex: 00000000-0000-0000-0000-000000000000)
